In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('supermarket.csv')

In [4]:
len(df['Product'].unique())

137

In [7]:
df_proc = (pd.to_datetime(df['Date'])
       .dt.floor('d')
       .value_counts()
       .rename_axis('date')
       .reset_index(name='count'))
df_proc['count'].mean()

44.93131868131868

In [52]:
','.join(df.groupby(['Product']).count().sort_values('Customer Id').head(4).index.tolist())

'kitchen utensil,preservation products,baby cosmetics,bags'

In [58]:
#df['Date'] = pd.to_datetime(df['Date'])
#','.join(df[df['Date'].dt.year == 2020].groupby(['Customer Id']).count().sort_values('Product', ascending=False).head(5).index.tolist())
rows = []
product_name_to_id = dict()
i = 0
for p in df['Product'].unique():
    product_name_to_id[p] = i
    i += 1
for x, y in df.groupby(['Customer Id', 'Date']):
    row = [0 for i in range(len(product_name_to_id))]
    for p in y['Product'].values:
        index = product_name_to_id[p]
        row[index] += 1
    row.append(x[0])
    row.append(x[1])
    rows.append(row)

In [79]:
basket = pd.DataFrame(rows, columns=list(product_name_to_id.keys()) + ['Customer Id', 'Date'])
basket

,tropical fruit,whole milk,pip fruit,other vegetables,rolls/buns,pot plants,citrus fruit,beef,chicken,butter,...,tea,salad dressing,specialty vegetables,pudding powder,ready soups,make up remover,toilet cleaner,preservation products,Customer Id,Date
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0011457U6R3Y,2020-10-13
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,008J5Z3CJPYU,2019-01-27
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,008J5Z3CJPYU,2019-06-12
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,008J5Z3CJPYU,2019-10-17
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,008J5Z3CJPYU,2019-10-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14748,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,ZZRT1GFUKTZ7,2019-03-30
14749,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,ZZRT1GFUKTZ7,2019-11-12
14750,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,ZZRT1GFUKTZ7,2019-12-28
14751,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,ZZRT1GFUKTZ7,2020-06-13
14752,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,ZZRT1GFUKTZ7,2020-07-30

In [82]:
basket['Date'] = pd.to_datetime(basket['Date'])
",".join(basket[basket['Date'].dt.year == 2020].groupby(['Customer Id']).count().sort_values('Date', ascending=False).head(5).index.tolist())

'M722MPITBY07,E7FD9BU4OK0F,0ZRF32AJ06BC,M2DT2Z00NQCH,QBUS9NZY39BE'

In [29]:
df['weekday'] = df['Date'].apply(lambda x: x.weekday())
df.groupby(['weekday']).count().sort_values('Product', ascending=False)

         Customer Id  Date  Product
weekday
2               4846  4846     4846
1               4802  4802     4802
5               4774  4774     4774
0               4655  4655     4655
3               4614  4614     4614
4               4539  4539     4539
6               4480  4480     4480

In [83]:
df['weekday'] = df['Date'].apply(lambda x: x.weekday())
df.groupby(['Date']).count().sort_values('Product', ascending=False)

            Customer Id  Product  weekday
Date
2020-01-21           80       80       80
2019-08-28           76       76       76
2020-03-25           74       74       74
2019-03-04           74       74       74
2020-07-20           73       73       73
...                 ...      ...      ...
2019-07-12           21       21       21
2019-04-07           20       20       20
2020-03-16           18       18       18
2020-01-09           18       18       18
2020-03-15           17       17       17

[728 rows x 3 columns]

In [85]:
rows = []
product_name_to_id = dict()
i = 0
for p in df['Product'].unique():
    product_name_to_id[p] = i
    i += 1

In [86]:
for x, y in df.groupby(['Customer Id', 'Date']):
    row = [0 for i in range(len(product_name_to_id))]
    for p in y['Product'].values:
        index = product_name_to_id[p]
        row[index] += 1
    rows.append(row)

In [87]:
basket = pd.DataFrame(rows, columns=product_name_to_id.keys())

In [88]:
basket

,tropical fruit,whole milk,pip fruit,other vegetables,rolls/buns,pot plants,citrus fruit,beef,chicken,butter,...,flower (seeds),rice,tea,salad dressing,specialty vegetables,pudding powder,ready soups,make up remover,toilet cleaner,preservation products
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14748,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14749,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14750,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14751,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14752,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [122]:
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1

basket_sets = basket.applymap(encode_units)
basket_sets = basket

In [123]:
from mlxtend.frequent_patterns import apriori, association_rules
frequent_itemsets = apriori(basket_sets, min_support=0.005, use_colnames=True)
frequent_itemsets.sort_values('support', ascending=False)

     support                       itemsets
1   0.160171                   (whole milk)
3   0.123839             (other vegetables)
4   0.111571                   (rolls/buns)
29  0.098488                         (soda)
16  0.087101                       (yogurt)
..       ...                            ...
91  0.005355    (domestic eggs, whole milk)
78  0.005287       (yogurt, tropical fruit)
70  0.005084                   (mayonnaise)
93  0.005016        (pip fruit, rolls/buns)
92  0.005016  (pip fruit, other vegetables)

[108 rows x 2 columns]

In [136]:
from mlxtend.frequent_patterns import apriori, association_rules, fpmax, fpgrowth
frequent_itemsets = apriori(basket_sets, min_support=0.01, use_colnames=True)
association_rules(frequent_itemsets, min_threshold=0.0001, metric="confidence").sort_values('confidence', ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
4,(yogurt),(whole milk),0.087101,0.160171,0.011320,0.129961,0.811391,-0.002631,0.965278
2,(rolls/buns),(whole milk),0.111571,0.160171,0.014167,0.126974,0.792744,-0.003704,0.961976
0,(other vegetables),(whole milk),0.123839,0.160171,0.015048,0.121511,0.758632,-0.004788,0.955992
6,(soda),(whole milk),0.098488,0.160171,0.011794,0.119752,0.747653,-0.003981,0.954083
8,(rolls/buns),(other vegetables),0.111571,0.123839,0.010710,0.095990,0.775120,-0.003107,0.969194
1,(whole milk),(other vegetables),0.160171,0.123839,0.015048,0.093948,0.758632,-0.004788,0.967010
3,(whole milk),(rolls/buns),0.160171,0.111571,0.014167,0.088447,0.792744,-0.003704,0.974633
9,(other vegetables),(rolls/buns),0.123839,0.111571,0.010710,0.086481,0.775120,-0.003107,0.972535
7,(whole milk),(soda),0.160171,0.098488,0.011794,0.073635,0.747653,-0.003981,0.973171
5,(whole milk),(yogurt),0.160171,0.087101,0.011320,0.070673,0.811391,-0.002631,0.982323